<<<<<<< HEAD
.carlosb{
    border-style:double;
    border-width: 8px;
    border-color:rgb(26, 19, 129);
    text-align: center;
    margin: 100px 400px;
    border-radius: 15px;
    padding-bottom: 50px;
    background-image: url(../img/fondo.jpg);

 }
 .mago {
    border-radius: 100px;
    border-color: blue;
    border: 6px inset rgb(12, 9, 180) ;

 }
 .carlosb h1{
    color:rgb(11, 245, 194);
    text-decoration: underline;
    font-weight: bold;

 }
 .carlosb p{
    color: rgb(129, 255, 10);
    font-size:xx-large;
    text-decoration: underline;

}
.btn-carlosb {
    background-color: blue;
    padding: 10px;
    border-radius: 9px;
    box-shadow: 5px 5px 6px rgb(52, 52, 63) ;
    cursor: pointer;
    
}
.btn-carlosb:hover{
   background-color: blueviolet;
}

 

=======
.vgomez
{
border-radius: 20px;
width: 800px;
background-color:#bbfff1de;
color: #2d98b3;
border: 6px outset yellow;
margin: 20px auto;
background-image: url(../img/fondo-div.jpg);
width: 500px;
color: rgb(238, 243, 237);
font-size: large;
padding: 25px;

}
>>>>>>> 6b0460f5ea0d31c63ce9b1dcbb43ad5a37087504
